<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/library_favicon.ico') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <div class="flex flex-col justify-between h-screen">
        <!-- HEADER -->
        <header>
            <div class="flex w-full px-5 py-5 items-center border-b border-gray-200">
                <!-- Logo -->
                <div class="px-3">
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/library_logo.svg') }}" alt="Alexandria Library" class="w-10">
                    </a>
                </div>

                <!-- Opções -->
                <div class="md:text-lg px-4 uppercase font-light">
                    <nav>
                        <ul class="flex">
                            <li class="px-4">
                                <a href="#">Home</a>
                            </li>
                            <li class="px-4">
                                <a href="#">Livros</a>
                            </li>
                            <li class="px-4">
                                <a href="#">Autores</a>
                            </li>
                            <li class="px-4">
                                <a href="#">Gêneros</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Barra de pesquisa -->
                <div class="items-center flex-grow pr-4">

                    <form action="" class="flex">
                        <button class="border-b border-t border-l border-gray-400 bg-white h-10 px-1 rounded-l-md" disabled>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>

                        <input type="text" placeholder="Pesquise aqui"
                            class="border-b border-t border-r outline-none border-gray-400 bg-white h-10 w-full px-1 placeholder:italic rounded-r-md font-light"
                        />
                    </form>
                </div>

                <!-- Login -->
                <div class="flex space-x-2 pl-2">

                    <button class="border rounded-md border-blue-400 bg-blue-500 h-10 px-3 uppercase font-light">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Login
                    </button>
                    
                    <button class="border rounded-md border-green-400 bg-green-500 h-10 px-3 uppercase font-light">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Cadastre-se
                    </button>
        
                </div>
            </div>

        </header>

        <!-- CONTENT -->
        <div class="flex">
        
            {% block content %} {% endblock %}

        </div>

        <!-- FOOTER -->
        <footer>
            <hr class="border-t border-gray-200 w-full my-4">

            <div class="grid grid-cols-4 gap-4 pt-4 place-items-center">

                <div class="">
                    <div>
                        <img src="{{ url_for('static', filename='img/library_logo.svg') }}" alt="Alexandria Library" class="w-10">
                    </div>
                </div>

                <div class="flex col-span-2 uppercase tracking-widest text-xs">

                    <div class="p-3">
                        <a href="#">About Us</a>
                    </div>

                    <div class="p-3">
                        <a href="#">Press</a>
                    </div>

                    <div class="p-3">
                        <a href="#">Carrers</a>
                    </div>

                    <div class="p-3">
                        <a href="#">Accessibility</a>
                    </div>

                    <div class="p-3">
                        <a href="#">Contact</a>
                    </div>

                    <div class="p-3">
                        <a href="#">Privacy Policy</a>
                    </div>
                    
                </div>

                <div class="flex">
                    <div class="px-2">
                        <a href="#">
                            <i class="fa-brands fa-x-twitter fa-xl"></i>
                        </a>
                    </div>
                    <div class="px-2">
                        <a href="#">
                            <i class="fa-brands fa-facebook fa-xl"></i>
                        </a>
                    </div>
                    <div class="px-2">
                        <a href="#">
                            <i class="fa-brands fa-instagram fa-xl"></i>
                        </a>
                    </div>
                    <div class="px-2">
                        <a href="#">
                            <i class="fa-brands fa-linkedin fa-xl"></i>
                        </a>
                    </div>
                </div>

            </div>
            
            <div class="flex justify-center text-xs py-3">&copy; 2024 Alexandria Library</div>
        </footer>
    </div>
</body>
</html>